.imgLogo{width: auto;
        height: 90px;
}

header{width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    padding-left: 0px;
    line-height: auto;
    margin-bottom: 10px;
}

header ul{  text-align: left;
            float: left;
            list-style: none;
            font-size: 15px;
            line-height: 15px;
}

header ul li{float: left;
            padding-right: 20px;
}

main{clear: both;
}

.mainContainer{ width: 95%;
                margin: 0 auto;
}

.mainContainer img{width: 100%
    
}

.left{  float: left;
        width: 65%;
        height: auto;
        border: solid 5px blue;
}

.box{background-color: lightgray;
    text-align: center;
    display: inline-block;
    
}

.box img{width: 200px;
}

.box .pic{display: inline-block;
        font-size: 20px;
        margin-right: 20px;
        margin-top: 40px;
}

.right{ float: left;
        width: 30%;
        padding-top: 30px;
        border: solid 5px red;
}

.right ul{list-style: none;    
}

footer{ clear: left;
        width: 100%;
        background-color: black;
        color: white;
        font-size: 15px;
        text-align: center;
        line-height: 40px;
}

